{% extends "bases/basehome.html" %}

{% block content %}
{% if request.session.rol == 'Administrador' %}
  <h2 class="col-sm-8 offset-sm-2">Rechazar Estudiante</h2>
  <div class="col-sm-4 offset-sm-4">
    <p>¿Estás seguro de que quieres rechazar a {{ perfil.user.username }}?</p>
    <form method="POST">
      {% csrf_token %}
      <input type="hidden" name="estado_ingreso" value="Rechazado">
      <button type="submit" class="btn btn-success">Rechazar</button>
      <a href="{% url 'home' %}" class="btn btn-secondary">Cancelar</a>
    </form>
  </div>
{% endif %}
{% endblock %}